<app-header></app-header> 
<section>
    <div class="art-information">
        <img src="{{artInfo['artObject']['webImage']['url']}}" alt="{{artInfo['artObject']['title']}} image">
        <div class="art-information-title">
            <h1>{{artInfo['artObject']['title']}}</h1>
            <h4>{{artInfo['artObject']['principalMakers'][0]['name']}}</h4>
        </div>
        <div class="art-information-description">
            <b>{{artInfo['artObject']['dating']['yearEarly']}}</b>
            <em>Type: {{artInfo['artObject']['objectTypes'][0]}}</em><br>
            <p>{{artInfo['artObject']['label']['description']}}</p>
        </div>
    </div>
</section>