main {
    height: 85vh;
    width: 100vw;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: space-around;

    img {
        width: 20vw;
        padding: 1vh 1vw;
        margin: 2vh 4vw;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    img:hover {
        transform: scale(1.1);
        background-color: rgba(#535353, 0.05)
    }
}